In [1]:
from pathlib import Path
from datetime import datetime as dt
import pandas as pd

In [2]:
path="C:/Users/FUJITSU/Desktop/arabic named entity/ANERCorp.xlsx"

In [3]:
xlsx = pd.ExcelFile(path)

In [7]:
df=pd.read_csv("urduDataTrainfold2.txt", header=None,  sep='\t')

In [8]:
df

               0      1
0              '  Other
1       ولی‌اللہ  Other
2              '  Other
3          پڑھتے  Other
4             ہی  Other
...          ...    ...
648724        کو  Other
648725      حتمی  Other
648726       شکل  Other
648727        دے  Other
648728        گی  Other

[648729 rows x 2 columns]

In [6]:
#df = df.drop(2, 1)

In [9]:
df = df.rename(columns={0: 'text', 1: 'label'})

In [10]:
df

            text  label
0              '  Other
1       ولی‌اللہ  Other
2              '  Other
3          پڑھتے  Other
4             ہی  Other
...          ...    ...
648724        کو  Other
648725      حتمی  Other
648726       شکل  Other
648727        دے  Other
648728        گی  Other

[648729 rows x 2 columns]

In [11]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size = 0.2)
train_arr = []
test_arr = []
train_lbl = []
test_lbl = []

In [12]:
train_arr=train['text'].astype(str)
train_lbl=train['label'].astype(str)
test_arr=test['text'].astype(str)
test_lbl=test['label'].astype(str)

In [13]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer,TfidfVectorizer

In [14]:
vectorizer = CountVectorizer()
vectorizer.fit(train_arr)
train_mat = vectorizer.transform(train_arr)

In [15]:
tfidf = TfidfTransformer()
tfidf.fit(train_mat)
train_tfmat = tfidf.transform(train_mat)

In [16]:
test_mat = vectorizer.transform(test_arr)
test_tfmat = tfidf.transform(test_mat)

In [17]:
del df
del test_arr
del train_arr

In [18]:
from sklearn.naive_bayes import BernoulliNB, GaussianNB, MultinomialNB

In [19]:
train_tfmat

<518983x27320 sparse matrix of type '<class 'numpy.float64'>'
	with 493016 stored elements in Compressed Sparse Row format>

In [20]:
from sklearn.svm import LinearSVC

In [21]:
lsvm=LinearSVC()
lsvm.fit(train_tfmat,train_lbl)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [22]:
y_pred_lsvm=lsvm.predict(test_tfmat)

In [33]:
test=['کھیوڑا']
test_str = vectorizer.transform(test)
test_tfstr = tfidf.transform(test_str)
test_tfstr.shape
lsvm.predict(test_tfstr.toarray())[0]

'Other'

In [34]:
from sklearn.metrics import  accuracy_score
from sklearn import metrics

In [35]:
print("accuracy:", metrics.accuracy_score(test_lbl, y_pred_lsvm))

accuracy: 0.9495706996747492

In [36]:
phrase="پاکستان سپر لیگ فائیو کے 18ویں میچ میں پشاور زلمی کا مقابلہ کوئٹہ گلیڈی ایٹرز سے راولپنڈی کرکٹ سٹیڈیم میں ہوگا جہاں بارش رک گئی ہے اور کوئٹہ گلیڈی ایٹرز نے ٹاس جیت کر پشاور زلمی کو پہلے بیٹنگ کی دعوت دی ہے"
arr=phrase.split()

In [37]:
arr

['پاکستان',
 'سپر',
 'لیگ',
 'فائیو',
 'کے',
 '18ویں',
 'میچ',
 'میں',
 'پشاور',
 'زلمی',
 'کا',
 'مقابلہ',
 'کوئٹہ',
 'گلیڈی',
 'ایٹرز',
 'سے',
 'راولپنڈی',
 'کرکٹ',
 'سٹیڈیم',
 'میں',
 'ہوگا',
 'جہاں',
 'بارش',
 'رک',
 'گئی',
 'ہے',
 'اور',
 'کوئٹہ',
 'گلیڈی',
 'ایٹرز',
 'نے',
 'ٹاس',
 'جیت',
 'کر',
 'پشاور',
 'زلمی',
 'کو',
 'پہلے',
 'بیٹنگ',
 'کی',
 'دعوت',
 'دی',
 'ہے']

In [38]:
import sys
y=[]
token=[]
for x in arr:
    x=[x]
    test_str = vectorizer.transform(x)
    test_tfstr = tfidf.transform(test_str)
    test_tfstr.shape
    token.append(x)
    y.append(lsvm.predict(test_tfstr.toarray())[0])

In [39]:
df=pd.DataFrame(list(zip(token,y)),columns=['token','entity_type'])

In [40]:
df

         token   entity_type
0    [پاکستان]      Location
1        [سپر]         Other
2        [لیگ]  Organization
3      [فائیو]         Other
4         [کے]         Other
5      [18ویں]         Other
6        [میچ]         Other
7        [میں]         Other
8      [پشاور]      Location
9       [زلمی]         Other
10        [کا]         Other
11    [مقابلہ]         Other
12     [کوئٹہ]      Location
13     [گلیڈی]         Other
14     [ایٹرز]         Other
15        [سے]         Other
16  [راولپنڈی]      Location
17      [کرکٹ]         Other
18    [سٹیڈیم]         Other
19       [میں]         Other
20      [ہوگا]         Other
21      [جہاں]         Other
22      [بارش]         Other
23        [رک]         Other
24       [گئی]         Other
25        [ہے]         Other
26       [اور]         Other
27     [کوئٹہ]      Location
28     [گلیڈی]         Other
29     [ایٹرز]         Other
30        [نے]         Other
31       [ٹاس]         Other
32       [جیت]         Other
33        [کر]         Other
34     [پشاور]      Location
35      [زلمی]         Other
36        [کو]         Other
37      [پہلے]         Other
38     [بیٹنگ]         Other
39        [کی]         Other
40      [دعوت]         Other
41        [دی]         Other
42        [ہے]         Other